<h1>Instruções para aluno</h1>

<p>
  Como Aluno, Você pode gerenciar seu perfil, adicionando suas informações e habilidades, além de buscar vagas e candidatar-se a elas.
</p>

<p>
  Os links disponíveis são:
</p>

<dl>
  <dt>Home</dt>
  <dd>
    O sistema mostrará os principais links do sistema
  </dd>
  <dt>Instruções</dt>
  <dd>
    Será mostrada instruções de uso
  </dd>
  <dt>Vagas</dt>
  <dd>
    Você poderá buscar vagas abertas cadastradas pelas empresas validadas, podendo candidatar-se a elas.
    Além disso pode filtrar por empresa e utilizar o match de habilidades, que encontra vagas que tenham como
    requisito as habilidades que o aluno possui
  </dd>
  <dt>Candidaturas</dt>
  <dd>
    Você poderá acompanhar suas candidaturas às respectivas vagas, podendo cancelá-la a qualquer momento ou
    verificar posteriormente se sua candidatura foi aceita ou não pela empresa e pelo coordenador
  </dd>
</dl>