<h1>Instruções para coordenador</h1>

<p>
  Como coordenador você pode gerenciar todo o processo de candidatura, além de validar os outros usuários do sistema.
</p>

<p>
  Os links disponíveis são:
</p>

<dl>
  <dt>Home</dt>
  <dd>
    O sistema mostrará os principais links do sistema
  </dd>
  <dt>Instruções</dt>
  <dd>
    Será mostrada instruções de uso
  </dd>
  <dt>Empresas</dt>
  <dd>
    Você poderá visualizar a situação das empresas cadastradas, podendo aprová-las ou rejeitá-las
  </dd>
  <dt>Candidaturas</dt>
  <dd>
    Você poderá acompanhar as candidaturas dos alunos às suas respectivas vagas, podendo aceitá-la ou rejeitá-la,
    após a aprovação do coordenador
  </dd>
  <dt>Alunos</dt>
  <dd>
    Vocẽ poderá visualizar a situação dos alunos cadastrados, podendo aprová-los ou rejeitá-los
  </dd>
  <dt>Vagas</dt>
  <dd>
    Vocẽ poderá visualizar a situação das vagas cadastradas pelas empresas validadas, podendo aprová-las ou rejeitá-las
  </dd>
  <dt>Candidaturas</dt>
  <dd>
    Vocẽ poderá gerenciar as candidaturas dos alunos às respectivas vagas.
    Aqui o Coordenador verificará se a vaga é adequada para aquele aluno, podendo então aprovar ou rejeitar a
    candidatura do aluno àquela vaga
  </dd>
</dl>