<h1>Instruções para empresa</h1>

<p>
  Como Empresa, você pode gerenciar seu perfil, cadastrando vagas de estágio e gerenciando as candidaturas às vagas cadastradas
</p>

<p>
  Os links disponíveis são:
</p>

<dl>
  <dt>Home</dt>
  <dd>
    O sistema mostrará os principais links do sistema
  </dd>
  <dt>Instruções</dt>
  <dd>
    Será mostrada instruções de uso
  </dd>
  <dt>Vagas</dt>
  <dd>
    Você poderá cadastrar vagas e gerenciá-las, criando também habilidades desejadas para as vagas
  </dd>
  <dt>Candidaturas</dt>
  <dd>
    Você poderá acompanhar as candidaturas dos alunos às suas respectivas vagas, podendo aceitá-la ou rejeitá-la,
    após a aprovação do coordenador
  </dd>
</dl>