<h1>Sistema</h1>

<p>
  O sistema EZ Estágio tem o objetivo de facilitar o gerenciamento e busca de vagas de estágio para alunos dos Instituto de Computação da UFF.
</p>

<p>
  O sistema foi desenvolvido visando atender a 3 perfis de usuário:
</p>

<ol>
  <li>Coordenador do Curso</li>
  <li>Aluno</li>
  <li>Empresa</li>
</ol>