<h2>Em Espera</h2>
<%= render 'empresas/table_espera' %>
<hr>

<h2 class="text-success">Aprovadas</h2>
<%= render 'empresas/table_aprovadas' %>
<hr>

<h2 class="text-danger">Reprovadas</h2>
<%= render 'empresas/table_reprovadas' %>