body {
  background-color: #eaeaea;
}

/* Alerts do Devise */
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.pointer-cursor {
  cursor: pointer;
}

.flip {
  //-moz-transition: transform 0.5s;
  //-webkit-transition: transform 0.5s;
  //transition: transform 0.5s;
  transform: rotate(-180deg);
}

.imagem-lista-vagas {
  width: 128px;
  height: 128px;
}

.content {
  min-height: 75vh;
}
/* footer */

footer {
  padding: 1em 0 0 0;
  margin: 3em 0 0 0;
  min-height: 10em;
  background-color: #2A4C6D;
  color: #DDD;
  a {
    color: #DDD;
    &:hover {
      color: #FFF;
    }
  }
  small {
    float: left;
  }
  .icone-footer {
    i {
      font-size: 30px;
    }
  }
  ul {
    padding-left: 0;
    float: left;
    list-style: none;
    li {
      font-size: 15px;
    }
  }
}

.card-icons {
  a {
    text-decoration: none;
  }
}