<h1>Candidaturas</h1>
<% if @aluno_vagas.present? %>
  <% if current_account.is_aluno? %>
    <%= render partial: 'table_aluno_vagas_aluno',
               locals: { aluno_vagas: @aluno_vagas } %>
  <% end %>
  <% if current_account.is_empresa? %>
    <%= render partial: 'table_aluno_vagas_empresa',
               locals: { aluno_vagas: @aluno_vagas } %>
  <% end %>

  <% if current_account.is_coordenador? %>
      <%= render partial: 'table_aluno_vagas_coordenador',
                 locals: { aluno_vagas: @aluno_vagas } %>
  <% end %>
<br>
<% else %>
  <div class="alert alert-info"> Não há nenhuma candidatura</div>
<% end %>